:root {
  --primary-color: #f16b4e;
  --secondary-color: #232323;
}

.page {
  min-width: 100%;
  min-height: 100vh;
}
@media (max-width: 500px) {
  .page:nth-child(1) {
    height: auto;
  }
}

body {
  margin:0;
  padding:0;
}


/* Text */
h2 {
  font-size: calc(1.375rem + 1.5vw);
  color:  var(--primary-color);
}
@media (min-width: 1200px) {
  h2 {
    font-size: 2.5rem;
  }
}

p, span, h5, .page:nth-child(4) h2 {
  color: #ffffff;
}


/* NAVBAR */
.nav-bar-text {
  color: #ffffff;
  font-weight: 700;
}
.nav-bar-text:hover {
  color: var(--primary-color);
}
.nav-bar-text:active {
  color: #e9e3e9;
}